streamlit

numpy==2.1.3
pandas==2.2.3
scikit-learn==1.6.1

dlib-bin

git+https://github.com/ageitgey/face_recognition_models.git

setuptools==75.8.0

supabase
bcrypt

segno
pillow

librosa==0.10.2.post1
resemblyzer==0.1.4